* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
      margin: 0 -5px;
      width: 65%;
    }
  
  /* Style the counter cards */
  .filterCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media only screen and (max-width:700px) {
    .column {
      width: 101%;
      display: block;
      margin-bottom: 20px;
    }
  }
  @media only screen and (min-width: 701px) and (max-width:1024px) {
    .column {
      width: 50%;
      display: block;
      margin-bottom: 20px;
    }
  }
  @media only screen and (min-width: 1025px) and (max-width:1440px) {
    .column {
      width: 28%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .buttonStyle{
    margin-right: 20px;
    background: darkseagreen;
  }
  .divStyle{
    margin-bottom: 20px;
  }